<a href="https://colab.research.google.com/github/GcSimo/unipd_lessons/blob/main/25-26_intelligenza%20artificiale/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Laboratory Lecture 1**

**Python: Simple is better than complex**

In [ ]:
print('Hello, world!')

**Python: Identation**

In [ ]:
x = 3
if x > 10:
    print('Greater than 10')
else:
    print('Otherwise')

In [ ]:
x = 3
if x > 10:
print('Greater than 10')
else:
    print('Otherwise')

**Built-in types of data in Python**

In [ ]:
x = 5
type(5)

**Variables in Python**

In [ ]:
x = 5
name = ' Marco'
start, finish = 2, 100

**Input function in Python**

In [ ]:
n = input('Enter a value')
print(n)
n-1

**eval() function in Python**

In [ ]:
n = input('Enter a value')
n = eval(n)
n-1
print(type(n))

**Casting in Python**

In [ ]:
y='6'
x = int(y)
print(x)

In [ ]:
z = float('6.3')
w = str(z)
u = list(w)
print(u)

**Variable environment in Python**

In [ ]:
v = True
if v is True:
    phone = 5552368
print(phone)

In [ ]:
v = False
if v is True:
    phone2 = 5552368
print(phone2)

In [ ]:
x = 0 # Global variable
def my_function():
    x = 123 # Local variable inside my_function
my_function()
print(x)

In [ ]:
x = 0 # Global variable
def my_function():
    global x # Declaration that x is a global variable
    x = 123 # Access to the global variable by assignment
my_function()
print(x)

**Packing and Unpacking of Sequences in Python**

In [ ]:
data = 2, 4, 6, 8
print(data)

In [ ]:
a, b, c, d = range(7, 11)
print(a)
print(b)
print(c)
print(d)

In [ ]:
a, b, c = 6, 2, 5
print(a)
print(b)
print(c)

**Lists in Python**

In [ ]:
num_list = [1,2,3,4,5]
alphabets_list = ['a','b','c','d','e']
mixed_list = ['a', 1,'b',2,'c',3,'4']
nested_list = [1,2,3,[4,5,6],7,8]
print(len(nested_list))

**Tuples in Python**

In [ ]:
num_tuple = (1,2,3,4,5)
alphabets_tuple = ('a','b','c','d','e')
mixed_tuple = ('a', 1,'b',2,'c',3,'4')
nested_tuple = (1,2,3,(4,5,6),7,8)
print(len(nested_tuple))

**Lists in Python**

In [ ]:
names = ["Raj","John","Jabby","Raja"]
print(names[2])
names[2] = "Kelly"
print(names[2])

**Tuples in Python**

In [ ]:
names = ("Raj","John","Jabby","Raja")
print(names[2])
names[2] = "Kelly"

**Operations with Lists in Python**

In [ ]:
L = [1, 2, 3, 4]
print(L[2])

print(L[-1])

print(L[1:3])

In [ ]:
L = []
L.append(2)
L.append(3)
print(L)

In [ ]:
L = []
L.extend([1,2,3])
print(L)

In [ ]:
L = [1, 2, 3, 4]
L.insert(1, 5)
print(L)

In [ ]:
L = [5,2,3,4]
L.reverse()
print(L)

In [ ]:
L = [5,2,3,4]
L.sort()
print(L)

In [ ]:
L = [5,2,3,4]
print(2 in L)
print(4 not in L)

In [ ]:
L = [5,2,3,4]
L.remove(2)
print(L)

In [ ]:
L = [5,2,3,4]
L.pop()
print(L)

In [ ]:
L = [5,2,3,4]
print(L.index(3))

**Dictionaries in Python**

In [ ]:
D = {10000: "Mario Rossi", 10001: "Maria Bianchi", 10002: "Pinco Pallino"}
empty_dict = {}

In [ ]:
D = {10000: "Mario Rossi", 10001: "Maria Bianchi", 10002: "Pinco Pallino"}
print(D[10000])

In [ ]:
D = {10000: "Mario Rossi", 10001: "Maria Bianchi", 10002: "Pinco Pallino"}
del D[10000]
print(D)

**Logic Operations in Python**

In [ ]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)
print(not b)
print(not a and b or a)

**Operations with String in Python**

In [ ]:
a="Hello"
b = "World"

print(a+b)
print(a.upper())
print(b.lower())

**Loops in Python**

In [ ]:
a = 0
while a < 10:
  a = a + 1
print(a)

In [ ]:
for a in range(0,10):
  print(a)

**Functions in Python**

In [ ]:
def my_function(food):
  for x in food:
    print(x)
  food.pop()

fruits = ["apple", "banana", "cherry"]
my_function(fruits)
print(fruits)

In [ ]:
def sum(a,b):
  return a+b

c = sum(3,4)
print(c)

**Importing modules in Python**

In [ ]:
import math, random, csv
import itertools, functools
import numpy

In [ ]:
!pip install nxviz # missing in colab need to install
from nxviz import ArcPlot

In [ ]:
import matplotlib.pyplot as plt